<div class="banner">
    <div class="form menu trasparent">
        <p class="text" >Selecione o cargo desejado <br> para proceder com a edição dos dados:</p>

        <br>

        <button [routerLink]="['/edicao']" mat-raised-button class="button move" (click)="chamarlistadodeputadoestadual()">
            Dep. Estadual
        </button>

        <button mat-raised-button class="button move">
            Dep. Federal
        </button>

        <button mat-raised-button class="button move">
            Senador
        </button>

        <button mat-raised-button class="button move">
            Governador
        </button>

        <button mat-raised-button class="button move">
            Presidente
        </button>
        <br>
        <button [routerLink]="['/menuPrincipal']" class=" move button red redbutton">Voltar</button>
    </div>
</div>
