<div class="banner">
    <div class="form menu trasparent">
        <p class="text" >Selecione o cargo desejado <br> para proceder com a edição dos dados:</p>

        <br>

        <button [routerLink]="['/edicao']" mat-raised-button class="button move" (click)="setDisplayInser('1')">
            Dep. Estadual
        </button>

        <button [routerLink]="['/edicao']" mat-raised-button class="button move"  (click)="setDisplayInser('2')">
            Dep. Federal
        </button>

        <button [routerLink]="['/edicao']" mat-raised-button class="button move"  (click)="setDisplayInser('3')">
            Senador
        </button>

        <button [routerLink]="['/edicao']" mat-raised-button class="button move"  (click)="setDisplayInser('4')">
            Governador
        </button>

        <button [routerLink]="['/edicao']" mat-raised-button class="button move"  (click)="setDisplayInser('5')">
            Presidente
        </button>
        <br>
        <button [routerLink]="['/menuPrincipal']" class=" move button red redbutton">Voltar</button>
    </div>
</div>
