<div class="banner">
    <div class="form menu trasparent">
        <p class="text" >Selecione o cargo desejado <br> para proceder com a edição dos dados:</p>

        <br>

        <button [routerLink]="['/edicao']" mat-raised-button class="button move" (click)="clicou1()">
            Dep. Estadual
        </button>

        <button mat-raised-button class="button move" (click)="clicou2()">
            Dep. Federal
        </button>

        <button mat-raised-button class="button move" (click)="clicou3()">
            Senador
        </button>

        <button mat-raised-button class="button move" (click)="clicou4()">
            Governador
        </button>

        <button mat-raised-button class="button move" (click)="clicou5()">
            Presidente
        </button>
        <br>
        <button [routerLink]="['/menuPrincipal']" class=" move button red redbutton">Voltar</button>
    </div>
</div>
