@charset "UTF-8";

@keyframes focus {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }

}


* {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Roboto Light", serif;
    box-sizing: border-box;

}


.headerPage {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: Roboto, serif;
    font-weight: 1000;
    letter-spacing: 5px;
    background-color: #403A3A;
    color: black;
}

.navMenu{
    position: absolute;
    display: flex;
    justify-content: right;
    background-color: #081f38;
    width: 100%;
    height: 50px;
}

.navMenu span  {
    display: inline-block;
    margin: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.navMenu span:hover {
    color: #fddb3a;
}


.urna {
    background-color: #555555;
    padding: 30px;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;;
    border-style: solid;
    border-color: #A9A9A9;
    border-radius: 20px;
}

.screen {
    width: 700px;
    height: 420px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    border: 2px solid #555555;
    display: flex;
    flex-direction: column;


}

.keyboard {
    background-color: #403A3A;
    margin-left: 30px;
    max-width: 400px;
    height: 420px;
    align-items: center;
    border-radius: 20px;


}

.keyboard-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px;

}

.numbersKeyboard {
    width: 90px;
    height: 65px;
    background-color: #000;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0 #555;
}

.keyboard-button {
    width: 70px;
    height: 40px;
    background-color: #000;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0 #555;
    border-radius: 20%;

}

.white {
    background-color: white;
    color: black;
    font-size: 15px;
}

.correct {
    background-color: #F09046;
    color: black;
    font-size: 15px;
}

.confirm {
    background-color: #48C079;
    color: black;
    font-size: 15px;
    width: 90px;
    height: 50px;

}


.div1 {
    flex: 1;
    display: flex;

}

.div1-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 25px;
}

.left1 {
    height: 50px;
    display: flex;
    align-items: center;

}

.left2 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.numberBox {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.square {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    font-size: 25px;

}

.focus {
    animation-name: focus;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

.informations {
    flex: 1;
    line-height: 80px;
}

.div1-right {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.right1 {
    border: 1px solid black;
    background-color: white;
    text-align: center;
    font-size: 14px;
}

.right1 img {
    width: 100%;

}


.div2 {
    height: 70px;
    font-size: 18px;
    border-top: 2px solid black;
    padding-left: 8px;


}

.div2 span {
    text-indent: 20px;
}

.warning {
    font-size: 35px;
    font-weight: bold;
}

.final-warning {
    font-size: 55px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.etapa {
    border: 2px solid #555555;
    display: flex;
    flex-direction: column;

}

.reloadUrna {
    position: relative;
    left: 187px;
    top: 176px;
    font-size: 22px;
    background-color: lightgoldenrodyellow;
    font-weight: bold;
    cursor: pointer;
}

.nulo {
    font-size: 65px;
    font-weight: bold;
}

.branco {
    font-size: 55px;
    font-weight: bold;
    margin-top: 10px;
}

.end{
    font-family: Serif, serif ;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    font-size: 150px;
    font-weight: bold;

}

.final-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-left: 5px;
    margin-right: 8px;
    flex-wrap: wrap;
    background-color: yellow;
    color: black;

}