<div class="urna">
    <div class="screen">
        <div *ngIf="EndVote" class="end focus">FIM!</div>
        <div class="div1">
            <div class="div1-left">
                <div class="left1">
                    <span *ngIf="!EndVote">VOTE PARA:</span>
                </div>
                <div class="left2">
                    <span>{{position[currentStage]}}</span>
                </div>
                <div *ngIf="!EndVote" class="numberBox">
                    <div class="square focus"></div>
                    <div class="square"></div>
                    <div *ngIf="printNumberPosition[currentStage]> 2" class="square"></div>
                    <div *ngIf="printNumberPosition[currentStage]> 3" class="square"></div>
                    <div *ngIf="printNumberPosition[currentStage]> 4" class="square"></div>
                </div>

                <div *ngIf="showInformations" class="informations">
                    NOME: {{candidato['nome']}}<br>
                    PARTIDO: {{candidato['partido']}} <br/>
                </div>
                <div *ngIf="showNull" class="nulo focus">
                    NULO
                </div>
                <div *ngIf="whiteVote" class="branco focus">BRANCO</div>

            </div>
            <div class="div1-right">
                <div *ngIf="!EndVote" class="right1">
                    <img [src]="candidato['imgCandidato']" alt=""/>
                </div>
            </div>
        </div>

        <div *ngIf="!EndVote" class="div2">
            Pressione a tecla: <br>
             VERMELHO para REINICIAR este voto
            <br>
            VERDE para CONFIRMAR este voto
        </div>
    </div>
    <div class="keyboard">
        <div class="keyboard-row">
            <div *ngFor="let keyboards of keyboard" (click)="insertNumber(keyboards)" class="numbersKeyboard">
                {{keyboards}}
            </div>
        </div>

        <div class="keyboard-row">
            <button class="final-text" *ngIf="EndVote">reiniciar</button>
            <div class="keyboard-button white" *ngIf="!EndVote" (click)="buttonwhite()">BRANCO</div>
            <div class="keyboard-button correct" *ngIf="!EndVote" (click)="buttoncorrection()">CORRIGE</div>
            <div class="keyboard-button confirm" *ngIf="!EndVote" (click)="buttonconfirm()">CONFIRMA</div>
        </div>

    </div>
</div>