<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidato</th>
      <td mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>

    <!-- Partido Column -->
    <ng-container matColumnDef="partido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Partido</th>
      <td mat-cell *matCellDef="let row">{{row.partido}}</td>
    </ng-container>

    <!-- Numero Column -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero</th>
      <td mat-cell *matCellDef="let row">{{row.numero}}</td>
    </ng-container>

    <!-- Votos Column -->
    <ng-container matColumnDef="votos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Votos</th>
      <td mat-cell *matCellDef="let row">{{row.votos}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
