<div class="navbar">

    <ul>
        <li>
            <a  [routerLink]="['aaaaaa']">Candidatos
                <i class="material-icons v-middle">add_task</i>
            </a>
        </li>

        <li>
            <a [routerLink]="['result']">Resultado
                <i class="material-icons v-middle">
                    receipt
                </i>
            </a>
        </li>
        <li><a [routerLink]="['perfil']">Perfil
            <i class="material-icons v-middle">
                people
            </i>
            </a>
        </li>

    </ul>
</div>