<div class="banner">
    <div class="menu trasparent">
        <p class="text" >Selecione o cargo desejado <br> para proceder com a edição dos dados:</p>

        <br>
        <button mat-raised-button class="button">
           Dep. Estadual
        </button>

       <button mat-raised-button class="button">
           Dep. Federal
       </button>

       <button mat-raised-button class="button">
            Senador
       </button>

       <button mat-raised-button class="button">
           Governador
       </button>

       <button mat-raised-button class="button">
            Presidente
       </button>
    </div>
    <button [routerLink]="['/menuPrincipal']" class="red redbutton">Voltar</button>
    </div>