
<div class="banner">
                <img src="../../../../imagenFront/site/logotse.png" class="logo" alt=""/>
        <div class="content trasparent">
                <h1>TSE- Tribunal Superior Eleitoral</h1>

                <p>Sistema digital e avançado de simulação de votação, para votar, você tem que
                        estar cadastrado,<br> também poderá adicionar, modificar e deletar os candidatos
                </p>

                <div>
                        <button [routerLink]="['/urna']"><span></span>URNA ELETRÔNICA</button>

                </div>

        </div>

</div>