

<html>
        <head>
                <title>Central TSE</title>
        </head>
        <body>
                <div class="banner">
                        <div class="navbar">
                                <img src="imagenFront/site/logotse.png" class="logo" alt=""/>

                         <ul>
                                 <li>
                                         <a class="flex-item" href="#">Candidatos
                                                 <i class="material-icons v-middle">add_task</i>
                                        </a>
                                 </li>

                                 <li><a href="#">Resultado
                                         <i class="material-icons v-middle">
                                                 receipt
                                         </i>
                                 </a></li>
                                 <li><a href="#">Seu Perfil
                                         <i class="material-icons v-middle">
                                                 ㅤpeople
                                         </i>
                                 </a></li>

                         </ul>
                        </div>

                  <div class="content trasparent">
                          <h1>STE- Tribunal Superior Eleitoral</h1>

                          <p>Sistema digital e avançado de simulação de votação, para votar, você tem que
                          estar cadastrado,<br> também poderá adicionar, modificar e deletar os candidatos
                          </p>

                          <div>
                                  <button routerLink="clicouvotar" type="button"><span></span>VOTAR</button>
                                  <router-outlet></router-outlet>
                          </div>

                  </div>

                </div>

        </body>
</html>