
body {
    background-color: #555555;
    font-family: roboto;
}
.container {
    width: 500px;
    margin: 120px auto 120px;
    background-color: #A9A9A9;
    padding: 0 20px 20px;
    border-radius: 6px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    text-align: center;
    border-style: initial;
    background-image: linear-gradient( purple, orange)
}
.imgprofile{

    max-width: 100%;
    max-height: 500%;
}

.container:hover .avatar-flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.container:hover .avatar-flip img:first-child {
    opacity: 0;
}
.container:hover .avatar-flip img:last-child {
    opacity: 1;
}
.avatar-flip {
    border-radius: 100px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: -60px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 13px #f0f0f0;
    -webkit-box-shadow: 0 0 0 13px #f0f0f0;
    -moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.avatar-flip img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
    z-index: 1;
}
.avatar-flip img:last-child {
    z-index: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    opacity: 0;
}
h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 15px;
    color: black;
}
h4 {
    font-size: 13px;
    color: aqua;
    letter-spacing: 1px;
    margin-bottom: 25px
}
p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    color: black;
}